<div class="horizontal-flex">
  <div class="vertical-flex">
    <div class="vertical-flex">
      <h3>Late payments</h3>
      <div class="horizontal-flex row">
        <div class="column1">Total past due:</div>
        <div class="column2 price">{{stats?.totalPastDue | currency}}</div>
      </div>
      <div class="horizontal-flex row">
        <div class="column1">Average past due:</div>
        <div class="column2 price">{{stats?.averagePastDue | currency}}</div>
      </div>
      <div class="horizontal-flex row">
        <div class="column1">Payments with errors:</div>
        <div class="column2">{{stats?.errorPayments}}</div>
      </div>

    </div>
    <div class="vertical-flex">
      <h3>Customers by acct status</h3>
      <app-pie-chart [pieChartID]="pmt-status" [data]="paymentData"></app-pie-chart>

    </div>
  </div>
  <div class="vertical-flex">
    <h3>Payments by month</h3>
    <div class="horizontal-flex row">
      <div class="column1">&nbsp;</div>
      <div class="column2">&nbsp;</div>
    </div>
  </div>
  <div class="vertical-flex">
    <h3>Deposits by service</h3>
    <div class="horizontal-flex row">
      <div class="column1">&nbsp;</div>
      <div class="column2">&nbsp;</div>
    </div>
  </div>
</div>
