<div class="horizontal-flex">
  <div class="vertical-flex">
    <div class="vertical-flex">
      <h3>Late payments</h3>
      <div class="horizontal-flex row">
        <div class="column1">Total past due:</div>
        <div class="column2 price">{{stats?.totalPastDue | currency}}</div>
      </div>
      <div class="horizontal-flex row">
        <div class="column1">Average past due:</div>
        <div class="column2 price">{{stats?.averagePastDue | currency}}</div>
      </div>
      <div class="horizontal-flex row">
        <div class="column1">Payments with errors:</div>
        <div class="column2">{{stats?.errorPayments}}</div>
      </div>

    </div>
    <div class="vertical-flex">
      <h3>Customers by acct status</h3>
      <app-pie-chart [pieChartID]="pmt-status" [data]="paymentData"></app-pie-chart>

    </div>
  </div>
  <div class="vertical-flex">
    <h3>Payments - last 12 months</h3>
    <div class="horizontal-flex row">
      <div class="column1">Date</div>
      <div class="column2-sm">Payments</div>
    </div>
    <div class="horizontal-flex row" *ngFor="let p of paymentsLast12">
      <div class="column1">{{p.key}}</div>
      <div class="column2 price">{{p.value | currency}}</div>
    </div>
  </div>
  <div class="vertical-flex">
    <h3>Deposits by service</h3>

    <div class="horizontal-flex row">
      <div class="column1-sm">Service</div>
      <div class="column2-sm">Deposits</div>
      <div class="column3-sm">Amount</div>
    </div>
    <div class="horizontal-flex row" *ngFor="let su of serviceUsage">
      <div class="column1-sm">{{su.serviceType}}</div>
      <div class="column2-sm">{{su.count}}</div>
      <div class="column3-sm">{{su.depositAmount}}</div>
    </div>
  </div>
</div>
