<button (click)="print()" mat-raised-button color="primary">
  <mat-icon>print</mat-icon> Print
</button>

<table mat-table [dataSource]="payments" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.pmtEntryId}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.createDate | date: 'MMM-yyyy'}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.createDate | date: 'HH:mm'}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="payment-type">
    <th mat-header-cell *matHeaderCellDef> Payment Type </th>
    <td mat-cell *matCellDef="let element"> {{element.pmtType }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> New Balance </th>
    <td mat-cell *matCellDef="let element"> {{element.status }} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> New Balance </th>
    <td mat-cell *matCellDef="let element"> {{element.pmtAmount | number:'1.2-2' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
